body{
    margin: 0px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: darkblue;
    border-bottom: 1px solid rgb(128, 117, 248);
}

#logo{
    fill:white;
    height: 40px;
    align-self : center;
}

#title{
    font-family: 'Lato',sans-serif;
    font-size: large;
    font-weight: bolder;
    align-self: center;
    color: white;
}

#api{
    font-family: 'Lato',sans-serif;
    font-size: medium;
    font-weight: bold;
    align-self: center;
    color: white;
    height: 40px;
}

.form-weather{
    display: flex;
    justify-content: center;
    margin: 28px;
}

input{
    border-radius: 8px;
    border: 1px solid rgba(121, 121, 121, 0.514);
    padding: 0px 8px;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
}

button{
    margin: 0px 8px;
    border-radius: 8px;
    background: darkblue;
    border: darkblue;
    height: 33px;
    padding: 0px 16px;
    color: white;
    cursor: pointer;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
}